@{
    Layout = "";
}
@model Nop.Plugin.Sms.Clickatell.Models.SmsClickatellModel
@using Nop.Web.Framework;

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    To receive an SMS notification when an order is placed from your store you need to follow a few simple steps, which are shown below:<br />
                    1. Register for a <a href="http://www.clickatell.com" target='_blank'>Clickatell account</a><br />
                       Clickatell works with all countries and includes 100 free credits so you can test SMS notifications.<br />
                    2. Set up new SOAP API. <br />
                    3. Fill in the form below with your Clickatell account details, including the number you want the notification messages to be sent to.<br />
                       Now when you receive a new order, an SMS text message will be sent to the number you enter below automatically.
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Enabled_OverrideForStore, model => model.Enabled, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Enabled)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Enabled)
                        @Html.ValidationMessageFor(model => model.Enabled)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ApiId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ApiId)
                        @Html.ValidationMessageFor(model => model.ApiId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Username)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Username)
                        @Html.ValidationMessageFor(model => model.Username)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Password)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.PhoneNumber_OverrideForStore, model => model.PhoneNumber, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.PhoneNumber)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.PhoneNumber)
                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Plugins.Sms.Clickatell.SendTest.Hint")
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.TestMessage)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.TestMessage)
                        @Html.ValidationMessageFor(model => model.TestMessage)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="test" class="btn btn-primary" value="@T("Plugins.Sms.Clickatell.SendTest")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}